/* Coolors Exported Palette - coolors.co/e4572e-f3a712-4e5283-7871aa-360568 */

/* HSL */
$color1: hsla(14%, 77%, 54%, 1);
$color2: hsla(40%, 90%, 51%, 1);
$color3: hsla(235%, 25%, 41%, 1);
$color4: hsla(247%, 25%, 55%, 1);
$color5: hsla(270%, 91%, 21%, 1);

/* RGB */
$color1: rgba(228, 87, 46, 1);
$color2: rgba(243, 167, 18, 1);
$color3: rgba(78, 82, 131, 1);
$color4: rgba(120, 113, 170, 1);
$color5: rgba(54, 5, 104, 1);