@font-face{

    font-family: "CustomFont";
    src: url("BLOODY-webfont.ttf");

}

body{

    background-color: rgba(78, 82, 131, 1);
    font-family: 'CustomFont', sans-serif;
    margin: 0px;

}

ul{

    margin: 0px;
    padding: 0px;

}

nav{

    padding-left: 1vw;

}

header{

    position: fixed;
    top: 0;
    width: 100%;

}

h1{

    color: red;
    text-align: center;

}

h2{

    color: darkred;
    text-align: center;

}

.container{

    display: flex;
    flex-wrap: wrap;

}

.spreaded{

    justify-content: space-around;

}

.fullWidth{

    flex-grow: 1;

}

#iconImage{

    height: 10vh;

}

.itemMenuEntete{

    text-align: center;
    line-height: 9vh;
    transition: background-color 1s;

}

.itemMenuEntete:hover{

    background-color: rgba(120, 113, 170, 1);
    cursor: pointer;

}

.itemMenuEntete a{

    color: white;
    text-decoration: inherit;
    cursor: auto;

}

.verticallyCentered{

    align-items: center;

}

.stretched{

    align-items: stretch;

}

.columned{

    flex-direction: column;

}

.centered{

    justify-self: center;

}

#itemsMenuEntete{

    list-style: none;

}

#menuEntete{

    background-color: rgba(54, 5, 104, 1);

}

#conteneurBandeau{

    position: relative;
    top: 10vh;


}

#topCentered{

    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#bottomCentered{

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#bandeau{

    height: auto;
    max-height: 80vh;
    width: 100vw;
    justify-self: center;
    transition: filter 2s;

}

#bandeau:hover{

    filter: hue-rotate(360deg) brightness(120%);

}

