@font-face{

    font-family: "CustomFont";
    src: url("BLOODY-webfont.ttf");

}

body{

    background-color: black;
    font-family: 'CustomFont', sans-serif;
    color: white;

}

/* nav{
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

} */

.container-fluid{

    padding: 0px;
    height: 300px;

}

.row{

    height: 100%;

}

.centeredText{

    display: flex;
    align-items: center;
    justify-content: center;

}

.icone{

    height: 8vh;

}

.affiche{

    height: 80vh;

}

.containered{

    display: flex;
    flex-wrap: wrap;

}

.columned{

    flex-direction: column;

}

.iconeReseau{

    width: 30px;
    height: 30px;
    margin: 5px;

}

.iconeReseau:hover{

    cursor: pointer;
    transform: scale(1.1);

}

#iconesReseaux{

    justify-content: center;

}