/* Coolors Exported Palette - coolors.co/184c54-1d1e3c-326089-5a83b6-778eab */

/* HSL */
$color1: hsla(188%, 56%, 21%, 1);
$color2: hsla(238%, 35%, 17%, 1);
$color3: hsla(208%, 47%, 37%, 1);
$color4: hsla(213%, 39%, 53%, 1);
$color5: hsla(213%, 24%, 57%, 1);

/* RGB */
$color1: rgba(24, 76, 84, 1);
$color2: rgba(29, 30, 60, 1);
$color3: rgba(50, 96, 137, 1);
$color4: rgba(90, 131, 182, 1);
$color5: rgba(119, 142, 171, 1);